# **Pandas 활용하기**

**Series 객체 생성 및 인덱스 설정**

In [ ]:
import pandas as pd

obj = pd.Series([10,20,30,40,50]) #pandas series를 사용하여 배열 선언
obj_2 = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])#index와 함께 배열 선언

print(obj)
print(obj.index) #객체의 인덱스
print(obj.values) #객체의 값 
print(obj[1]) #인덱스를 통해 값 접근
print('-' * 30)
print(obj_2)
print(obj_2[['a','e']]) #인덱스 'a','e'에 해당되는 요소 값 출력
print(obj_2[1:3]) #인덱스 1에서 2까지의 요소 값 출력

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]
20
------------------------------
a    10
b    20
c    30
d    40
e    50
dtype: int64
a    10
e    50
dtype: int64
b    20
c    30
dtype: int64

**Series 객체의 연산과 조건식**

In [ ]:
import pandas as pd

obj = pd.Series([10,20,30,40])

print(obj * 10) # 모든 요소에 10을 곱하여 출력
print('-' * 30)
print(obj >= 20) # 20보다 크거나 같으면 True, 아니면 False 출력

0    100
1    200
2    300
3    400
dtype: int64
------------------------------
0    False
1     True
2     True
3     True
dtype: bool

**Series 객체와 for문**

In [ ]:
import pandas as pd

data = pd.Series([35, 60, 85], index=['유재석','박명수','태진아'])

print(data)
print('-' * 30)
for i, v in data.items() :  #item() 메소드 : Series 객체에 있는 요소를 튜플 형태로 반환
  print('%s : %d세'% (i,v))

유재석    35
박명수    60
태진아    85
dtype: int64
------------------------------
유재석 : 35세
박명수 : 60세
태진아 : 85세

**Series 객체와 딕셔너리**

In [ ]:
import pandas as pd

data = pd.Series({'유재석':35,'박명수':60,'태진아':85}, index=['유재석','박명수','태진아','정형돈','하하']) # 딕셔너리를 통해 value 값을 대입하면서 index 이름을 지정
data['정형돈']=52 # data 배열에서 index가 '정형돈'인 요소에 52 대입
print(data)
print(data[3])

유재석    35.0
박명수    60.0
태진아    85.0
정형돈    52.0
하하      NaN
dtype: float64
52.0

**DataFrame 객체 생성 및 인덱스 설정**

In [ ]:
import pandas as pd

data = {'이름':['유재석','박명수','정형돈','하하'],
        '나이':[35,60,52,38],
        '키':[180,175,160,150]}
frame = pd.DataFrame(data) # data를 DataFrame(Table 형식)으로 생성
frame_2 = pd.DataFrame(data, 
                       columns=['이름','나이','키','몸무게']) # column에 '몸무게'를 추가하여 DataFrame 생성
print(data)
print(frame)
print(frame_2)
print(frame.head(2)) #상위 n개 자료 출력
print(frame_2.tail(2)) #하위 n개 자료 출력

{'이름': ['유재석', '박명수', '정형돈', '하하'], '나이': [35, 60, 52, 38], '키': [180, 175, 160, 150]}
    이름  나이    키
0  유재석  35  180
1  박명수  60  175
2  정형돈  52  160
3   하하  38  150
    이름  나이    키  몸무게
0  유재석  35  180  NaN
1  박명수  60  175  NaN
2  정형돈  52  160  NaN
3   하하  38  150  NaN
    이름  나이    키
0  유재석  35  180
1  박명수  60  175
    이름  나이    키  몸무게
2  정형돈  52  160  NaN
3   하하  38  150  NaN

**DataFrame 요소 추출하기(loc과 iloc활용)**

In [ ]:
import pandas as pd 

data = {'이름':['유재석','박명수','정형돈','하하'],
        '나이':[35,60,52,38],
        '키':[180,175,160,150]}
frame = pd.DataFrame(data, index=['첫째','둘째','셋째','넷째'])
print(frame)
print(frame.loc['둘째','이름']) #행 인덱스가 '둘째'이고 열 인덱스가 '이름'에 해당되는 요소 반환
print(frame.loc['넷째',['나이','키']]) #행 인덱스가 '넷째'이고 열 인덱스 중 '나이', '키'에 해당되는 요소 반환
print('-' * 30) # '-' 30번 출력
print(frame.iloc[2,0]) #행 인덱스가 2이고 열 인덱스는 0인 요소 반환
print(frame.iloc[3,:2]) #행 인덱스가 3이고 열 인덱스는 0과 1인 열에 해당되는 요소 반환
print(frame.iloc[:,[0,2]]) #행 전체에 대해 열 인덱스가 0과 2인 요소 반환

     이름  나이    키
첫째  유재석  35  180
둘째  박명수  60  175
셋째  정형돈  52  160
넷째   하하  38  150
박명수
나이     38
키     150
Name: 넷째, dtype: object
------------------------------
정형돈
이름    하하
나이    38
Name: 넷째, dtype: object
     이름    키
첫째  유재석  180
둘째  박명수  175
셋째  정형돈  160
넷째   하하  150

**합계와 평균/정렬하기**

In [ ]:
import pandas as pd

data = {'이름':['유재석','박명수','정형돈','하하'],
        '나이':[35,60,52,38],
        '키':[180,175,160,150]}
frame = pd.DataFrame(data) # DataFrame 객체 생성
frame_2 = frame.iloc[:,[1,2]] #모든 행에 대해 열 인덱스 1,2인 열의 데이터 추출
rank = frame.sort_values(by=['나이'], ascending=False) # '나이'인덱스를 기준으로 내림차순으로 정렬하여 rank에 저장
total = frame_2.sum(axis=0) #frame_2에 저장된 나이, 키의 총 합계를 구함
avg = frame_2.mean(axis=0) #frame_2에 저장된 나이, 키의 평균을 구함

print(frame_2)
print(rank)
print(total)
print(avg)
#print(frame.describe()) #간단한 통계 확인하기

   나이    키
0  35  180
1  60  175
2  52  160
3  38  150
    이름  나이    키
1  박명수  60  175
2  정형돈  52  160
3   하하  38  150
0  유재석  35  180
나이    185
키     665
dtype: int64
나이     46.25
키     166.25
dtype: float64

**이번 강의도 수고 많으셨습니다. 감사합니다.**